*,
*::before,
*::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html{
    width: 100vw;
    overflow: hidden;
}

body{
    font-size: 13px;
    font-family: Arial,sans-serif;
    overflow: hidden;
}

body a{
    text-decoration: none;
}

body a:focus, body a:hover{
    text-decoration: underline;
}

body li{
    list-style: none;
}
.header{
    display:flex;
    justify-content:flex-end;
    padding:.5rem;
}

.header *{
    padding:.8rem;
    color:black
}

.header a{
    padding:0.8rem .5rem;
    padding-top:1.4rem;
}
.user-logo{
    width:55px;
    height:55px;
    border-radius:50%;
}

.googleapps-grid-div{
    /* position: relative; */

}

.googleapps-grid-div img{
    padding: 5px;
}

.google-apps{
    /* display: none; */
    position:absolute;
    top:0;
    right:0%;
    width:300px;
    height:430px;
    background-color: white;
    overflow-y:scroll;
    margin:3.8rem 1rem;
    z-index:10;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-radius: 1rem;
    padding:0;
}

.google-apps ul{
    display: flex;
    flex-wrap: wrap;
    padding: .8rem 1rem;
}

.google-apps li{
    display: flex;
    flex-direction:column;
    text-align:center;
    padding:.5rem 1.1rem;
}

.google-apps li:hover{
    background-color: #00B2EE20;
    border-radius: 1rem;
}

.google-apps img{
    width:50px;
}

.google-apps hr{
    width: 300px !important;
    padding:0;
    margin:.5rem 0;
    
}

.googleapps-grid-div:hover .google-apps{
    display: block;
}

::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-thumb {
    background:#00000030;
    border-radius: 8px;
  }


.google-logo-div{
    height: 30vh;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.google-logo-div img{
    height: 92px;
    width: 272px;
    margin-bottom: 1rem;
}

.search-bar-div{
    position: relative;
    display: flex;
    align-items: center;
    width: 85%;
    height: 46px;
    margin:1rem auto;
    border-radius:2rem;
    border:1px solid #00000030;
    padding:0 15px;
    max-width: 584px;
    font-size:16px;
}
.search-bar-div:hover{
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
}

.search-bar-div input:focus{
    outline: none;
}

.search-svg-div{
    width:5%;
}

.search-svg-div img{
    width: 20px;
}

.input-div{
    width:90%;
    height: 100%;
    padding-left:1rem;
}

.input-div input{
    border:none;
    height: 100%;
    width: 100%;
    font-size:16px;
}

.mic-svg-div{
    width: 24px;
}

.mic-svg-div img{
    width: 60%;
}

.searchbar-focus {
    position:absolute;
    width:100%;
    height:150px;
    
    left: 0;
    border:1px solid #00000030;
    border-radius: 2rem;
    z-index: 1;
    background-color:white;
    color:#00000090;
    display:flex;
    justify-content: center;
}

.btn-div{
    display: flex;
    justify-content: center;
}

.btn-div div{
    padding:.2rem;
}

.btn-div button{
    height:36px;
    padding:.3rem 1rem;
    font-size: 14px;
    border:none;
    background-color: #f8f9fa;
    color:rgb(60, 64, 67);
}

.btn-div button:hover{
    box-shadow: 0 1px 1px rgb(0 0 0 / 10%);
    border: 1px solid #dadce0;
}
.google-workspace-link{
    text-align: center;
    padding:1rem;
}

.google-workspace-link a{
    color: #1a0dab;
}

.lang-div{
    display: flex;
    width: 100%;
    justify-content: center;
    margin:1rem;
    flex-wrap: wrap;
    margin:.5rem;
}

.lang-div p{
    justify-self: center
}
.lang-div ul{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
}

.lang-div li{
    padding:0 .5rem;
    color: #1a0dab;
}

.footer-div{
    width: 100%;
    color:rgba(0, 0, 0, 0.54);
    background-color: rgb(242, 242, 242);
    position: absolute;
    bottom:0;
    font-size: 14px;
}

.footer-div-1{
    width: 100%;
    padding:1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.14);
}

.footer-div-2{
    width: 100%;
    display: flex;
    padding:1rem;
    justify-content: space-between;
}

.footer-ul-div-1,.footer-ul-div-2{
    display:flex;
}
.footer-ul-div-1 ul,.footer-ul-div-2 ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.footer-ul-div-1 li,.footer-ul-div-2 li{
    padding:0.5rem 1rem;
}

.footer-ul-div-1 a,.footer-ul-div-2 a{
    color:rgba(0, 0, 0, 0.54);
}
.settings-menu{
    position: relative;
}

.settings-submenu{
    display: none;
    position:absolute;
    bottom:0;
    right: 0;
    margin-bottom:40px;
    font-size: 14px;
    width:145px;
    background-color: white;
    border:1px solid black;    
    text-align: left;
}
.settings-submenu ul{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
}
.settings-submenu li{
    padding:.8rem 0 0.8rem .8rem;
}

.settings-menu:focus-within .settings-submenu{
    display:block;
}

@media screen and (max-width:672px) {
    .footer-div-2{
        flex-direction:column;
    }
    .footer-ul-div-1,.footer-ul-div-2{
        justify-content: center;
    }
    .google-logo-div{
        height: 20vh;
        width:100%;
        display: flex;
    }
}